# Server
PORT=3000
NODE_ENV=development

# Database
DATABASE_URL="postgresql://postgres:passwordlocalhost:5432/nom_de_la_base_de_donnee?schema=public"


# Cloudinary
CLOUDINARY_CLOUD_NAME="Votre cloud name"
CLOUDINARY_API_KEY="Votre api key"
CLOUDINARY_API_SECRET="Votre api secret"